<div class="d-flex justify-content-center py-3" id="title-container">
  <h1 id="title">Github Battle
  <i class="fab fa-github"></i>
  </h1>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-20 d-flex justify-content-center">
        <%= form_with url: "/search", method: :post do |form| %>
          <%= form.label :user1, "Search for User:" , class: "text-field"  %>
          <%= form.text_field :user1, class: "text-search"  %>

          <%= form.label :user2, "Search for User:" , class: "text-field"  %>
          <%= form.text_field :user2, class: "text-search" %>

          <%= form.submit "Submit", class: "btn btn-primary", id: "btn-ghost" %>
        <% end %>
    </div>
  </div>
</div>



<div class="container py-5 px-4">
  <div class="row gx-5">
    <div class="col">

      <div class="d-flex justify-content-center p-3 d-grid gap-3">
        <div id="load">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>


      <% if params[:results1] && params[:results2]%>
        <div class="d-flex justify-content-center">
          <div class="p-3 d-grid gap-3">
            <div class="card border border-dark" style="width: 18rem; border-radius: 4px;">
              <img src="<%= params[:results1][4] %>" class="card-img-top" alt="">
              <div class="card-body">
                <p class="fw-bold">
                  <i class="fas fa-user-circle"></i>
                  User: <%= params[:results1][3]  %>
                </p>
                <p>
                  <i class="fas fa-caret-down"></i>
                  Followers: <%= params[:results1][1]  %>
                </p>
                <p>
                  <i class="fas fa-angle-up"></i>
                  Following: <%= params[:results1][2]  %>
                </p>
                <p>
                  <i class="fas fa-file-code"></i>
                  Repositories: <%= params[:results1][0] %>
                </p>
                <p>
                <i class="fas fa-star"></i>
                Score: <%= params[:score1] %>
                </p>
              </div>
            </div>
          </div>


          <div class="p-3 d-grid gap-3">
            <div class="card border border-dark" style="width: 18rem; border-radius: 4px; ">
              <img src="<%= params[:results2][4] %>" class="card-img-top" alt="" >
              <div class="card-body">
                <p class="fw-bold">
                  <i class="fas fa-user-circle"></i>
                  User: <%= params[:results2][3]  %>
                </p>
                <p>
                  <i class="fas fa-caret-down"></i>
                  Followers: <%= params[:results2][1]  %>
                </p>
                <p>
                  <i class="fas fa-angle-up"></i>
                  Following: <%= params[:results2][2]  %>
                </p>
                <p class="fw-normal">
                  <i class="fas fa-file-code"></i>
                  Repositories: <%= params[:results2][0] %>
                </p>
                <p>
                  <i class="fas fa-star"></i>
                  Score: <%= params[:score2] %>
                </p>
              </div>
            </div>
          </div>


        </div>

        <div class="container py-5 justify-content-center d-flex" id="win-container">
          <% if params[:score1].to_i > params[:score2].to_i %>
            <h3 class="text-win text-success"> <%= params[:results1][3].upcase %> Wins 🤠🎉</h3>
          <%elsif params[:score1].to_i == params[:score2].to_i  %>
            <h3 class="text-win">Both Have the same Score 🤯</h3>
          <% else %>
            <h3 class="text-win text-success"> <%= params[:results2][3].upcase %> Wins 🤠🎉</h3>
          <% end %>
        </div>

        <div class="container py-5 justify-content-center d-flex">
          <%= link_to "Try again!", root_path, id: "btn-ghost" %>
        </div>

      <% else %>
        <div class="container py-5 justify-content-center d-flex">
          <h2 class="text-danger text-win"><%= params[:messeage]%> </h2>
        </div>
      <% end %>

    </div>
  </div>
</div>


<div class="container py-5" style="position: relative;  top: 400px; left:450px">
  <p>Made with  ❤️  by Mauricio Gutierrez ☄️ - Version 1.1</p>
</div>
