<div class="d-flex justify-content-center py-3">
  <h1 class="fw-bold">Github Battle
  <i class="fab fa-github"></i>
  </h1>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-16 d-flex justify-content-center">
        <%= form_with url: "/search", method: :post do |form| %>
          <%= form.label :user1, "Search for:" %>
          <%= form.text_field :user1 %>

          <%= form.label :user2, "Search for:" %>
          <%= form.text_field :user2 %>

          <%= form.submit "Search", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>



<div class="container py-5 px-4">
  <div class="row gx-5">
    <div class="col">
      <% if params[:results1] && params[:results2]%>
        <div class="d-flex justify-content-center">

          <div class="p-3 d-grid gap-3">
            <div class="card" style="width: 18rem;">
              <img src="<%= params[:results1][6] %>" class="card-img-top" alt="">
              <div class="card-body">
                <p class="fw-bold">User: <%= params[:results1][5]  %></p>
                <p>Github User: <%= params[:results1][0] %></p>
                <p>Repositories: <%= params[:results1][2] %> </p>
                <p>
                <i class="fas fa-star"></i>
                Score:
                <%= params[:score1] %>
                </p>
              </div>
            </div>
          </div>


          <div class="p-3 d-grid gap-3">
            <div class="card" style="width: 18rem;">
              <img src="<%= params[:results2][6] %>" class="card-img-top" alt="">
              <div class="card-body">
                <p class="fw-bold">User: <%= params[:results2][5]  %></p>
                <p class="fw-normal">Github User: <%= params[:results2][0] %></p>
                <p class="fw-normal">Repositories: <%= params[:results2][2] %> </p>
                <p>
                  <i class="fas fa-star"></i>
                  Score:
                  <%= params[:score2] %>
                </p>
              </div>
            </div>
          </div>


        </div>

        <div class="container py-5 justify-content-center d-flex">
          <% if params[:score1].to_i > params[:score2].to_i %>
            <h3 class="text-success"> <%= params[:results1][5] %> Wins 🤠🎉</h3>
          <%elsif params[:score1].to_i == params[:score2].to_i  %>
            <h3>Both Have the same Score 🤯</h3>
          <% else %>
            <h3 class="text-success"> <%= params[:results2][5] %> Wins 🤠🎉</h3>
          <% end %>
        </div>

        <div class="container py-5 justify-content-center d-flex">
          <%= link_to "Try again!", root_path, class:"btn btn-danger" %>
        </div>
      <% else %>
        <div class="container py-5 justify-content-center d-flex">
          <h2 class="fw-bold text-danger"><%= params[:messeage] %> </h2>
        </div>
      <% end %>

    </div>
  </div>
</div>
